<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zev_ex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Zev_A2_4"></activity>
        <activity android:name=".Zev_A2_3" />
        <activity android:name=".Zev_A2_2" />
        <activity android:name=".Zev_A2_1" />
        <activity android:name=".Zev_A1_3" />
        <activity android:name=".Zev_A1_2" />
        <activity android:name=".Zev_A1_1" />
        <activity android:name=".Zev_M1" />
        <activity android:name=".Zev_Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Zev_Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Zev_Splash" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="96e5a2faccee08691ca699f8f6c5c67b" />
    </application>

</manifest>